.youi-accordion{
	
}

.youi-accordion .youi-accordion-header {
	cursor:pointer;
	margin-bottom:1px;
	position:relative;
}

.youi-accordion .youi-accordion-header a,
.youi-accordion .youi-accordion-header a:active
.youi-accordion .youi-accordion-header a:hover {
	display:block;
	font-size:1em;
	padding:5px 5px 5px 20px;
	text-decoration: none;
	color:black;
}

.youi-accordion .youi-accordion-header .youi-icon {
	left:0.5em;
	margin-top:-8px;
	position:absolute;
	top:50%;
}
.youi-accordion .youi-accordion-content{
	border-top:0 none;
	display:none;
	margin-bottom:2px;
	margin-top:-2px;
	overflow:auto;
	padding:2px;
	position:relative;
	top:1px;
}

.youi-accordion .youi-accordion-content-active {
	display:block;
}

/* common */
.youi-widget-header{
	background:url("images/grid/grid-header-bg.jpg") repeat-x scroll 50% 50% #F6F6F6;
	border:1px solid #CCCCCC;
	color:#1C94C4;
	font-weight:bold;
	
	font-size:100%;
	line-height:1.3;
	list-style:none outside none;
	margin:0;
	outline:0 none;
	padding:0;
	text-decoration:none;
}

.youi-widget-content {
	background:url("images/ui-bg_highlight-soft_100_eeeeee_1x100.png") repeat-x scroll 50% top white;
	border:1px solid #DDDDDD;
	color:#333333;
	overflow:auto;
}

.youi-accordion .youi-accordion-header .youi-icon {
	left:5px;
	margin-top:-8px;
	position:absolute;
	top:50%;
}

.youi-icon {
	width:16px;
	height:16px;
	background-image:url("images/ui-icons_ef8c08_256x240.png");
}

.youi-state-active .youi-icon {
	background-image:url("images/ui-icons_ef8c08_256x240.png");
}

.youi-icon-triangle{
	background-position:-32px -16px;
}

.youi-state-active .youi-icon-triangle{
	background-position:-64px -16px;
}

.snippet-item .snippet-item-span{
	background:no-repeat left center;
	padding-left:18px;
}