<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:p="http://www.springframework.org/schema/p" xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:context="http://www.springframework.org/schema/context" xmlns:jee="http://www.springframework.org/schema/jee"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
			http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<!-- ========================= 调度配置 ========================= -->
	<!-- ========================= 调度总控 ========================= -->
	<bean id="schedulerFactoryBean" class="com.gsoft.framework.job.SchedulerFactoryBean">
		<property name="dataSource" ref ="dataSource" />       
        <property name="applicationContextSchedulerContextKey" value="applicationContextKey"/>
        <property name="configLocation" value="classpath:youi_quartz.properties"/>
	</bean>
	
	<bean id="jobDetail" class="com.gsoft.framework.job.JobDetailBean">
		 <property name="jobClass">
            <value>
                com.gsoft.framework.job.service.DefaultQuartzJobBean
            </value>
        </property>
	</bean>
	
	<!-- 不带参数类型的任务调度配置 -->
	<bean class="com.gsoft.framework.job.XmlConfigJobProviderMethodInvokeJobBean">
		<property name="jobs">
			<map>
				<entry key="getUsers" value="userManager"/>
			</map>
		</property>
	</bean>
</beans>
